#include "resource.h"
#include <windows.h>

IDI_APP_ICON ICON "resources/app_icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "com.kltlk" "\0"
      VALUE "FileDescription", "fl-client" "\0"
      VALUE "FileVersion", "1.0.0" "\0"
      VALUE "InternalName", "fl_client" "\0"
      VALUE "OriginalFilename", "fl_client.exe" "\0"
      VALUE "ProductName", "fl-client" "\0"
      VALUE "ProductVersion", "1.0.0" "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
